body {
    background: linear-gradient(135deg, #020617, #0f172a);
    color: #e5e7eb;
}

.presentacion {
    background: radial-gradient(circle at top left,
            #1e293b,
            #020617);
    border: 1px solid rgba(148, 163, 184, 0.15);
}

.btn-main {
    background-color: #63d0f1;
    border: none;
}

.btn-main:hover {
    background-color: #167ad1;
}